html, body{

	height:100%;
	width:100%;
}

h1 {
        text-align: center;
        color: white;
        float: left;
        width: 100%;
	background-color: #1affff;
	border-radius: 30px;
}

#colorTransitionText a:hover{
	color:red;
}

#textDiv {
	width: 60%;
	min-height: 100%;
	background-color: #ddffff;
	float: left;
}

#content {
	width: 60%;
	min-height: 100%;
	background-color: #ddffff;
	float: left;
}

div {
	margin: 10px;
        text-align: left;
        color: black;
        float:left;
        width:90%;
	background-color: #ccffff;
	display: block;
	border-radius:20px;
}

#colorTransitionText a {
	color: black;
	transition: color 500ms;
}

#colorAnimationText {
	animation-duration: 10s;
}

@keyframes animation{
	0%   {color: black;}
	10%  {color: red;}
	20%  {color: blue;}
	30% {color: green;}
	40% {color: yellow;}
	50% {color: white;}
	60% {color: yellow;}
	70% {color: green;}
	80% {color: blue;}
	90% {color: green;}
	100%{color: black;}
}
