html, body{

	height:100%;
	width:100%;
}

h1 {
	position:absolute;
	top: 10px;
	right: 0px;
	height:60px;
        text-align: center;
        color: rgba(255,255,255,1);
        float: left;
        width: 100%;
	background-color: #1affff;
	border-radius: 30px;
	white-space:nowrap;
	font-size: 4vw;

}


div {
	margin: 10px;
        text-align: left;
        color: black;
        float:left;
        width:90%;
	background-color: #ccffff;
	display: block;
	border-radius:20px;
}

#content{
	margin-top: 100px;
	width:70%;
	height:100%;
	background-color:#ddffff;
	transition: color 500ms;
}

#content:hover{
	color: white;
}

.here{
	display: inline;
	opacity: 1;
	animation-name: appear;
	animation-duration: 1s;
}

.gone{
	opacity: 0;
	transition: all 1000ms;
	animation-duration: .45s;
	display: none;
}

.fade{
	display: inline;
	animation-name:fade;
	animation-duration:1s;
}

.banner{
	overflow: hidden;
	animation: bannerAnimation 4s steps(60, end); 
}

@keyframes fade{
	0% {opacity: 1}
	100% {opacity: 0;}
}

@keyframes appear{
	0% {opacity: 0}
	100% {opacity: 1;}
}

@keyframes bannerAnimation{
	0% {width: 0%;  color:rgba(255,255,255,0);}
	50% {width: 100%; color:rgba(255,255,255,0);}
	100%{color:rgba(255,255,255,1);}
}
