h1 {
        text-align: center;
        color: white;
        float: left;
        width: 100%;
	background-color: #1affff;
}

#content {
	width: 100%;
	height: 100%;
	background-color: #ddffff;
	float: left;
}

div {
	margin: 10px;
        text-align: left;
        color: black;
        float:left;
        width:60%;
	background-color: #ccffff;
	display: block;
}

a {
	color: black;
}

a:hover {
	color: white;
}

