html, body{
	height: 100%;
	width: 100%;
	background-image:url("background-tile.png");
	background-repeat:tile;
}

#journal{
	height:90%;
	width:90%;
	background-color:rgba(100,100,100,.5);
	padding:20px;
}

.content{
	margin:auto;
	padding:25px;
	border: 0pt;
	text-align:center;
}
