html, body{
	min-height: 100%;
	width: 100%;
	padding:0;
	margin:0;
}

html{

	background-image:url(background-tile.png);
	background-repeat:repeat;
}

body{
	background:rgba(255,255,255,.7);
}

#commentSection{
	margin-top: 50px;
	padding-top: 50px;
	background: rgba(150,150,100,.5);
	width:90%;
	border:1px solid rgba(200,200,50,1);
	font-size:10px;
	font-style:monospace;
}


